{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Browse{% endblock %}</title>
    <!-- Add your CSS links here -->
    
    {% block stylesheets %}
    <!-- Additional CSS files -->
        <link href="{% static 'src/styles.css' %}" rel="stylesheet">
    {% endblock %}
</head>


<body>
    <header>
            {% block header %}
            <nav>
                <!-- Your navigation menu goes here -->
                {% comment %} <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul> {% endcomment %}
            </nav>
            {% endblock header %}
        </header>
    
        <main>
        {% block content %}
        <!-- Content of child templates will be inserted here -->
        {% endblock %}
    </main>

    <footer>
        <!-- Your footer content goes here -->
        <p>&copy; {% now "Y" %} Browse</p>
    </footer>

</body>
</html>
